body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu.active {
    display: flex;
  }
}

.img-profile-one {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-details {
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.font-background {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.text-color-desc {
  color: #888;
  margin-top: 5px;
}

.description {
  margin-top: 20px;
  color: #555;
  line-height: 1.6;
}

.btn-dark {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #555;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  background-image: url("./assets/images/background-image.jpg");
  background-size: cover;
  padding-top: 30px;
  gap: 10px;
}
.main-container h2 {
  font-size: 30px;
  color: white;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #888, 4px 4px 0 #777, 6px 6px 0 #666, 8px 8px 0 #555,
    10px 10px 0 #444, 12px 12px 0 #333;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
}

.main-container h4 {
  font-size: 24px;
  opacity: 0;
  white-space: nowrap;
  animation: fadeIn 2s ease-in-out infinite;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}
@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.main-container .main-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.social-media-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 250px;
  padding: 10px 20px;
}
.social-media-bar a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 15px;
}
.social-media-bar a:hover {
  color: #007bff; /* Change to your preferred hover color */
}

/* My Profile */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.profile-image {
  flex: 1;
  margin-right: 20px;
}

.profile-image img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-details {
  flex: 2;
}

.profile-details {
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
  }
  .profile-content {
    flex-direction: column;
  }
  .profile-image {
    margin: 0;
  }
}

/* Education */
.education-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 75px auto 0px auto;
  padding: 20px 30px;
  background-color: #4d4d4d;
  border-end-end-radius: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.education-item {
  display: flex;
  padding: 20px;
  width: 40%;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  margin-bottom: 20px;
}

.education-item .description {
  margin-top: 0px;
}

.education-item .image {
  width: 80px;
  margin-right: 20px;
}

.education-item img {
  max-width: 100%;
  height: auto;
}

.education-item h3 {
  color: #333;
  margin: 0;
  font-size: 20px;
}
.education-container h2 {
  width: 100%;
  color: floralwhite;
}

.education-item p {
  color: #666;
  margin: 0;
  font-size: 16px;
}

.education-item button {
  display: inline-block;
  width: 150px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.education-item button:hover {
  background-color: #555;
}

/* Skills */
.skills-container {
  /* margin: 0px 50px auto; */
  box-sizing: border-box;
  padding: 30px;
  background-color: #f5f5f5;
  border-start-start-radius: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
}

.skill-name {
  flex: 1;
}

.skill-progress {
  flex: 3;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.skill-progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #a18d0c; /* Progress bar color */
  transition: width 0.5s ease;
}
