body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
  }

  .navbar-menu ul {
    flex-direction: column;
    gap: 5px;
  }
  .navbar-menu ul li {
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 0px;
  }
  
  .navbar-toggle {
    display: flex;
  }
  
  .navbar-menu.active {
    visibility: visible;
    opacity: 1;
    width: 100%;
    box-sizing: border-box;
    transition: visibility 0s, opacity 0.3s ease;
  }
}

h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.font-background {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.text-color-desc {
  color: #888;
  margin-top: 5px;
}

.description {
  margin-top: 20px;
  color: #555;
  line-height: 1.6;
}

.btn-dark {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #555;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  background-image: url("./assets/images/background-image.jpg");
  background-size: cover;
  padding-top: 30px;
  gap: 10px;
}
.main-container h2 {
  font-size: 30px;
  color: white;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #888, 4px 4px 0 #777, 6px 6px 0 #666, 8px 8px 0 #555,
    10px 10px 0 #444, 12px 12px 0 #333;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
}

.main-container h4 {
  font-size: 24px;
  opacity: 0;
  white-space: nowrap;
  animation: fadeIn 2s ease-in-out infinite;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}
@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.main-container .main-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.social-media-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 250px;
  padding: 10px 20px;
}
.social-media-bar a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 15px;
}
.social-media-bar a:hover {
  color: #007bff; /* Change to your preferred hover color */
}

/* My Profile */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.profile-image {
  flex: 1;
  margin-right: 20px;
}

.profile-image img {
  width: 100%;
  object-fit: cover;
  object-position: bottom left;
  height: 400px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-details {
  flex: 2;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
  }
  .profile-content {
    flex-direction: column;
    align-items: center;
  }
  .profile-image {
    margin: 0;
    width: 100%;
  }
  .profile-image img {
    object-position: center left;
  }
}

/* My Project */
.project-container {
  display: flex;
  margin: 50px;
  background-color: #FFF;
  padding:20px;
  flex-wrap: wrap;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  justify-content: space-evenly ;
  row-gap: 20px;
}

.project {
  display: flex;
  width:320px;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.project h3 {
  margin: 0px;
  text-align: center;
  margin-bottom: 10px;
}

.project img.project-image {
  width: 100%;
  height: 400px;
}
.project a {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 80px);
  transition: visibility 0s, opacity 0.5s, height 0.5s;
}

.project:hover a {
  visibility: visible;
  opacity: 1;
  height: auto;
}

@media (max-width: 768px) {
  .project {
    width:100%;
  }
  .project a {
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }
}

/* training */
.training-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #4d4d4d;
  border-end-end-radius: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.training-item {
  display: flex;
  padding: 20px;
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  margin-bottom: 20px;
}

.training-item .description {
  margin-top: 0px;
}

.training-item .image {
  width: 80px;
  margin-right: 20px;
}

.training-item img {
  max-width: 100%;
  height: auto;
}

.training-item h3 {
  color: #333;
  margin: 0;
  font-size: 20px;
}
.training-container h2 {
  width: 100%;
  color: floralwhite;
}

.training-item p {
  color: #666;
  margin: 0;
  font-size: 16px;
}

.training-item button {
  display: inline-block;
  width: 150px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.training-item button:hover {
  background-color: #555;
}

/* Skills */
.skills-container {
  /* margin: 0px 50px auto; */
  box-sizing: border-box;
  padding: 30px;
  background-color: #f5f5f5;
  border-start-start-radius: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
}

.skill-name {
  flex: 1;
}

.skill-progress {
  flex: 3;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.skill-progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #a18d0c; /* Progress bar color */
  transition: width 0.5s ease;
}

/* Time Line */

.timeline-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  background-color: #f5f5f5;
}
.timeline-container .group-item {
  flex: 1;
}
.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.timeline-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0f253e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
}

.timeline-content {
  margin-left: 20px;
}

.timeline-title {
  font-size: 24px;
  margin: 0;
}

.timeline-subtitle {
  font-size: 18px;
  margin: 5px 0;
}

.timeline-description {
  font-size: 14px;
  line-height: 1.5;
}

.timeline-connector {
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #0f253e;
  z-index: 1;
  height: auto;
}

.timeline-item:nth-child(2) .timeline-connector:first-child {
  display: none;
}
.timeline-item:last-child .timeline-connector:last-child {
  display: none;
}
.timeline-item .timeline-connector:first-child {
  top: -50%; /* Adjust the value to position the line correctly */
}
.timeline-item .timeline-connector:last-child {
  top: 10%; 
}
.timeline-item:last-child .timeline-connector:first-child {
  bottom: 90%;
}